Repository open-austin/indigent-defense-stats, pull requests merged in 2024-09, with the labels that each got.

#144 Adding Data Structure Viz After Cleaning
  src/cleaner/Data Structure of Cleaned JSON.md
Labels: cleaner

#143 Adding Data Structure Viz After Parsing
  src/parser/Data Structure of Parsed JSON.md
Labels: parser

#145 Format the county data CSV
  resources/texas_county_data.csv
Labels: enhancement

#147 Add CODEOWNERS file
  .github/CODEOWNERS
Labels: architecture

#136 Create README for scraper
  src/scraper/README.md
Labels: scraper

#140 adding date of parsing to cleaner module
  src/cleaner/__init__.py
Labels: cleaner

#155 Mermaid Visualization of Parser Logic
  src/parser/README.md
Labels: documentation, parser
